<html>
    <head>
        <title>Project Blueprint | Component</title>

        <!-- css -->
        <link rel="stylesheet" href="../../css/main.css">

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../../js/carbon-components.min.js"></script>

    </head>
    <body>

        <!-- navbar starts -->

        <div class="custom-navbar">
            <div class="bx--row">
                <a href="../../index.html" class="custom-navbar-link-logo">
                    <div class="bx--col">
                        <div class="custom-navbar-item">
                            Project <strong>Blueprint</strong>
                        </div>
                    </div>
                </a>
                <a href="../../layout.html" class="custom-navbar-link">
                    <div class="bx--col">
                        <div class="custom-navbar-item">
                            Layout
                        </div>
                    </div>
                </a>
                <a href="../../component.html" class="custom-navbar-link custom-navbar-link-active">
                    <div class="bx--col">
                        <div class="custom-navbar-item">
                            Component
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- navbar ends -->

        <!-- banner starts -->

        <div class="header-banner" style="background: url(../../assets/Component-Banner.jpg);">

        </div>

        <!-- banner ends -->

        <!-- breadcrumb starts -->

        <div class="custom-breadcrumb">
            <div class="breadcrumb-link-holder">
                <p>
                    <a href="../../index.html">
                        Home
                    </a>
                    <span class="breadcrumb-divider">/</span>
                    <a href="../../component.html">
                        Component
                    </a>
                    <span class="breadcrumb-divider">/</span>
                    <span>
                        Card with Icon
                    </span>
                </p>
            </div>
        </div>

        <!-- breadcrumb ends -->

        <!-- content starts -->

        <div class="custom-content-container">
            <div class="bx--grid">
                <div class="bx--row">
                    <div class="bx--col-lg-12">
                        <h1 class="preview-title">
                            <strong>Card with Icon</strong>
                            Component
                        </h1>

                        <div class="bx--row">
                            <div class="bx--col-lg-6">
                                <div class="bx--row">
                                    <div class="bx--col-lg-1"></div>
                                    <div class="bx--col-lg-10">
                                        <div class="component-container">
                                            <img src="../../assets/card/Thumbnail_Card.png" class="component-preview" alt="">
                                        </div>
                                    </div>
                                    <div class="bx--col-lg-1"></div>
                                </div>
                                

                            </div>
                            <div class="bx--col-lg-6">
                                <div class="code-wrapper">
                                    <div class="code-wrapper-header bg-000000"></div>
                                    <textarea class="code-area" id="sample" disabled>
<style>
    .card7 {
        max-width: 1200px;
        margin: 0 auto;
    }
    .card7 button:focus {
        outline: 0.25em solid #4682b4;
    }
    .card7 .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .card7 .card {
        flex: 1;
        color: #fff; /* card font color */
        background: #000000; /* card background color */
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 75%);
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .card7 .card h5 {
        margin: 0;
        padding: 1rem;
        text-align: center !important;
    }
    .card7 .card .title {
        padding: 0.25rem 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .card7 .card .imgHolder {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    .card7 .card .desc {
        padding: 0.5rem 1rem;
        font-size: 12px;
    }
    .card7 .card .actions {
        text-align: center;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
    }
    .card7 .card svg {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        background: #88b6a5;
    }
    .card7 .card button {
        color: #666 !important;
        border: 1px solid #6b645d;
        background: #fff;
        border-radius: 0.5em;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1rem;
        padding: 1em 0;
        flex: 1;
    }
    .card7 .card button:hover {
        background: #463a32;
    }
    .card7 .view-larger-link {
        display: none !important;
    }
</style>

<div class="card7">
    <div class="flex">
        <div class="card">
            <div class="imgHolder">
                <!-- image src -->
                <img src="assets/EKWQEWENPMWMEJND/ProjectBP_CardIcon.svg" alt="">
            </div>
            <!-- card title -->
            <h5>[Title]</h5>
            <!-- card subtitle -->
            <div class="title">[Subtitle]</div>
            <!-- card description -->
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates libero nulla assumenda similique maiores repellendus adipisci, esse dolor numquam amet, quod odit sint temporibus quis repellat. Accusantium repellendus, odit quos!</div>
        </div>
    </div>
</div>
                                    </textarea>
                                    
                                    <div class="code-btn-wrapper">
                                        <div class="bx--row">
                                            <div class="bx--col">
                                                <a class="code-btn" href="../../xd/Template_Card With Icon.xd" download="">
                                                    <span>
                                                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M30 25L28.586 23.586 26 26.172 26 18 24 18 24 26.172 21.414 23.586 20 25 25 30 30 25z"></path><path d="M18,28H8V4h8v6a2.0058,2.0058,0,0,0,2,2h6v3l2,0V10a.9092.9092,0,0,0-.3-.7l-7-7A.9087.9087,0,0,0,18,2H8A2.0058,2.0058,0,0,0,6,4V28a2.0058,2.0058,0,0,0,2,2H18ZM18,4.4,23.6,10H18Z"></path></svg>
                                                        Download XD File
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="bx--col">
                                                <div class="code-btn" id="copy" onclick="copyText()">
                                                    <span>
                                                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M31 16L24 23 22.59 21.59 28.17 16 22.59 10.41 24 9 31 16zM1 16L8 9 9.41 10.41 3.83 16 9.41 21.59 8 23 1 16z"></path><path d="M5.91 15H26.080000000000002V17H5.91z" transform="rotate(-75 15.996 16)"></path></svg>
                                                        Copy Code
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h2 class="preview-title">How to use?</h2>
                        <br>
                        <div class="user-guide-container">
                            <img src="../../assets/user-guide/Step by Step_Card with Banner.png" class="user-guide-img" alt="">
                            <p class="txt-ug ug-step-1">
                                Create a section by drag and dropping the &#39;<span class="blue">Section</span>&#39; component into the stage and within the section, drag and drop the
                                &#39;<span class="red">HTML</span>&#39; component.
                            </p>
                            <p class="txt-ug ug-step-2">
                                Upon selecting which component to use, you can simply copy the HTML code provided in the repository site buy clicking the 
                                &#39;<strong>Copy Code</strong>&#39; button.
                                <br><br>
                                A downloadable template is also available for use for wireframing by clicking the 
                                &#39;<strong>Downloadable XD File</strong>&#39;.
                            </p>
                            <p class="txt-ug ug-step-3">
                                Paste the code on the <strong>HTML</strong> section to replicate the desired component into the Bundles site.
                            </p>
                            <p class="txt-ug ug-step-4-1-img-card-v">
                                Look for the line <br>
                                &#39;<span class="green">&lt;!-- image container --&gt;</span>&#39;
                                <br>
                                to edit the card&#39;s banner image.
                            </p>
                            <p class="txt-ug ug-step-4-2-img-card-v">
                                Highlight the <span class="blue">image link</span> and then click 
                                &#39;<strong>Browse Assets</strong>&#39;
                                to upload an image to replace the image holder.
                            </p>
                            <p class="txt-ug ug-step-5-img-card-v">
                                And look for the line, <br>
                                &#39;<span class="green">&lt;!-- card content --&gt;</span>&#39;,
                                <br>
                                to edit the card&#39;s text contents.
                            </p>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

        <!-- content ends -->

        <!-- footer starts -->

        <div class="custom-footer bg-000000">
            <p class="txt-ffffff">
                Learning Solutions Development PH &#169; 2022
            </p>
        </div>

        <!-- footer ends -->

        <script>
            function copyText() {
                const copyText = document.getElementById("sample");

                copyText.select();
                copyText.setSelectionRange(0, 99999);

                navigator.clipboard.writeText(copyText.value);

                
            }
        </script>


    </body>
</html>